* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  /* color: #fff; */
  font-size: 15px;
  /* border: 1px solid red; */
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.nav-items {
  display: inline-flex;
  padding: 20px;
}

.nav-link {
  padding-left: 20px;
  cursor: pointer;
}

/* .nav-link a:hover {
  color: rgb(77, 13, 13);
} */

.profile-pic {
  height: 600px;
}
